
<section class="comp-container">
    <nav class="nav back-dark-blue">
        <span class="nav-title">Detalle de pedido</span>
        <button mat-raised-button
            class="back-sky-blue add-button" 
            data-toggle="modal" 
            data-target="#exampleModalCenter">
            <i class="material-icons">add_circle_outline</i>
            <span>Agregar producto</span>
        </button>
    </nav>
    <div class="pedidos-container">
        <div class="pedidos-mesa-container">
            <span>Asignar mesa</span>
            <i  (click)="modificarMesa(pedidoCargado,'restar')" class="material-icons icons-menos">remove_circle_outline</i>
            <span>{{pedidoCargado.mesa}}</span>
            <i (click)="modificarMesa(pedidoCargado,'sumar')" class="material-icons icons-mas">add_circle_outline</i>
        </div>
        <app-tabla-productos
           [productosAgregados]="productosAgregados"
        ></app-tabla-productos>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Agregar Comentario</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field>
                <input [(ngModel)]="pedidoCargado.comentario" matInput placeholder="Comentario">
            </mat-form-field>
        </mat-expansion-panel>
        <app-facturacion [pedidoCargado]="pedidoCargado"></app-facturacion>
    </div>
</section>
