<div class="title-span">
    Datos de facturación
</div>
<section class="row no-gutters">
    <div class="info_divs col-md-6">
        <mat-form-field>
            <input matInput placeholder="Nombre del cliente" type="text">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nit o Cédula" type="number" min="0">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Atendido por</mat-label>
            <mat-select [(ngModel)]="pedidoCargado.mesero" (click)="mostrar()">
                <mat-option *ngFor="let metodo of atendidoPor" [value]="metodo.value">
                    {{metodo.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tipo de pago</mat-label>
            <mat-select [(ngModel)]="pedidoCargado.metodo" (click)="mostrar()">
                <mat-option *ngFor="let metodo of metodosPago" [value]="metodo.value">
                    {{metodo.name}}</mat-option>
            </mat-select>
        </mat-form-field>        
    </div>
    <div class="info_divs2 col-md-6">
        <table>
            <tr>
                <td>Subtotal</td>
                <td>$10.000</td>
            </tr>
            <tr>
                <td>Descuento</td>
                <td>$10.000</td>
            </tr>
            <tr class="last-tr">
                <td>Total</td>
                <td>$10.000</td>
            </tr>
        </table>
        <div class="btns_container">
            <button mat-raised-button class="back-sky-blue add-button">
                <i class="material-icons">add_circle_outline</i>
                <span>Realizar pedido</span>
            </button>
        </div>
    </div>
</section>